<h1>Edit Student</h1>

<%= form_with(model: @student, local: true) do |form| %>
  <div class="modal-body">
    <div class="mb-3">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :subject %>
      <%= form.text_field :subject, class: 'form-control' %>  <!-- Keep this as a text field -->
    </div>
    <div class="mb-3">
      <%= form.label :marks %>
      <%= form.number_field :marks, class: 'form-control' %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <%= form.submit 'Update', class: 'btn btn-primary' %>
  </div>
<% end %>


<%= link_to 'Back to Student Listing', students_path, class: 'btn btn-secondary' %>
